body {
    font-size: 14px;
    overflow-x: scroll;
    background-image: url(../Img/index04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }
  body header {
    text-align: center;
  }
  body header .grad-over {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-shadow: 2px 2px 2px #fff;
    overflow: hidden;
  }
  body header .grad-over:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, darkorange, mediumvioletred);
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    transition: all 2s ease-in-out;
  }
  body header .grad-over:hover:after {
    left: -100%;
  }
  body #timeline-wrapper .timeline-top {
    text-align: center;
  }
  body #timeline-wrapper .timeline-top .top-year {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #668C4A 
    A6BF4B;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 2.8rem;
  }
  body #timeline-wrapper .timeline-top .top-year > span {
    font-size: 3rem;
  }
  body #timeline-wrapper .timeline-block {
    width: 100%;
    height: auto;
    position: relative;
  }
  body #timeline-wrapper .timeline-block:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color:  #668C4A 
    ;
    left: 50%;
    top: 0;
    margin-left: -2px;
  }
  body #timeline-wrapper .timeline-block .timeline-events .l-event {
    float: left;
    position: relative;
  }
  body #timeline-wrapper .timeline-block .timeline-events .l-event .thumb {
    right: 0;
    transform: translate(50%, -50%);
  }
  body #timeline-wrapper .timeline-block .timeline-events .l-event:before, body #timeline-wrapper .timeline-block .timeline-events .l-event:after {
    position: absolute;
    content: "";
    color: #333;
    width: 40px;
    height: 40px;
    background: #fff;
    transform: translate(50%, -50%);
    border-radius: 20px;
    z-index: 4;
    top: 50%;
    right: 0;
  }
  body #timeline-wrapper .timeline-block .timeline-events .l-event:after {
    width: 60px;
    height: 60px;
    z-index: 3;
    border-radius: 30px;
    background: #A6BF4B;
  }
  body #timeline-wrapper .timeline-block .timeline-events .l-event .event-body:before {
    position: absolute;
    content: "";
    color: #333;
    width: 16px;
    height: 16px;
    background: #fff;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    transform: rotate(45deg) translate(-50%, -50%);
    border-radius: 3px;
    top: 50%;
    right: -8px;
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event {
    float: right;
    position: relative;
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event .thumb {
    left: 0;
    transform: translate(-50%, -50%);
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event:before, body #timeline-wrapper .timeline-block .timeline-events .r-event:after {
    position: absolute;
    content: "";
    color: #333;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #333;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    top: 50%;
    left: 0px;
    z-index: 4;
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event:after {
    width: 60px;
    height: 60px;
    z-index: 3;
    border-radius: 30px;
    background: #A6BF4B;
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event .event-body {
    float: right;
    transform: perspective(1000px) rotateY(-4deg);
  }
  body #timeline-wrapper .timeline-block .timeline-events .r-event .event-body:before {
    position: absolute;
    content: "";
    color: #333;
    width: 16px;
    height: 16px;
    background: #fff;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transform: rotate(45deg) translate(-50%, -50%);
    border-radius: 3px;
    top: 50%;
    left: -8px;
  }
  body #timeline-wrapper .timeline-block .event {
    min-height: 100px;
    background: none;
    position: relative;
    box-shadow: 0px 40px 14px -35px #ccc, 0px -40px 14px -35px #ccc;
    margin-top: 20px;
  }
  body #timeline-wrapper .timeline-block .event .thumb {
    font-size: 30px;
    position: absolute;
    top: 50%;
    color: #333;
    z-index: 5;
  }
  body #timeline-wrapper .timeline-block .event .event-body {
    background-color: #fff;
    min-height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90%;
    position: relative;
    border: 1px solid #eee;
  }
  body #timeline-wrapper .timeline-block .event .event-body .person-image {
    display: inline-block;
    text-align: left;
    width: 20%;
    height: 100%;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dashed #eee;
  }
  body #timeline-wrapper .timeline-block .event .event-body .person-image img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    body #timeline-wrapper .timeline-top {
      text-align: right;
      padding-right: 20%;
    }
    body .timeline-block {
      width: 100%;
      height: 100vh;
      position: relative;
      background-color: #eee;
    }
    body .timeline-block:after {
      content: "";
      position: absolute;
      height: 100%;
      background-color: #333;
      left: 5%;
      top: 0;
      margin-left: -3px;
      display: none;
    }
    body .timeline-block .r-event .event-body:after {
      content: "";
      position: absolute;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: #A6BF4B;
      left: -30%;
      border-radius: 3px;
      box-shadow: 1px 1px 1px #fff;
    }
    body .timeline-block .l-event .event-body:after {
      content: "";
      position: absolute;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: #A6BF4B;
      right: -30%;
      border-radius: 3px;
      box-shadow: -1px 1px 1px #fff;
    }
  }
  body .footer-up {
    bottom: 0;
  }
  body footer {
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid #eee;
    transition: bottom 1s ease-in-out;
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    z-index: 9;
  }
  body footer a {
    padding: 5px;
  }
  body .social {
    color: #999;
    letter-spacing: 1px;
  }
  body .social i {
    background: #eee;
    color: #777;
    padding: 5px;
    border-radius: 50%;
  }
  body .social i:hover {
    color: #111;
  }
  body .social .follow {
    -webkit-animation: light 0.8s ease-in-out infinite forwards;
            animation: light 0.8s ease-in-out infinite forwards;
  }
  @-webkit-keyframes light {
    to {
      color: #111;
    }
  }
  @keyframes light {
    to {
      color: #111;
    }
 
  }